// Стили для первой СЗИ
#icon_info-1_1{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_2{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_3{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_4{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_5{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
