#icon_info-1_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-1_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-1_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-1_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-1_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-2_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-2_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-2_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-2_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-2_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-3_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-3_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-3_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-3_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-3_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-4_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-4_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-4_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-4_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-4_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-5_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-5_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-5_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-5_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-5_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-6_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-6_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-6_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-6_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-6_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-7_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-7_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-7_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-7_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-7_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-8_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-8_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-8_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-8_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-8_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-9_1 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-9_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-9_3 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-9_4 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#icon_info-9_5 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}/*# sourceMappingURL=page3_1.css.map */