*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://krot.info/uploads/posts/2020-01/thumbs/1579377484_6-13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  background-color: rgb(249, 235, 218);
  max-width: 30%;
  padding: 9% 10%;
  text-align: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.title{
  /* border: 1px black solid; */
  margin-top: -70%;
  margin-bottom: 40%;
  font-size: 30px;
  color:darkslateblue;
  font-weight: bold;
}

.choose{
  display: flex;
  justify-content:space-around;
  margin-bottom: 50%;
}

.back{
  background-color: cornflowerblue;
  font-weight: bold;
  margin-left: -175%;
}

a{
  margin-right: 20%;
  text-decoration: none;
  color: #000;
  background-color: cornflowerblue;
  padding: 20px;
  font-size: 25px;
  border-radius: 5%;
}

a:last-child{
  margin-right: 0;
}