// Стили для первой СЗИ
#icon_info-1_1{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_2{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_3{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_4{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-1_5{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
// Стили для второй СЗИ
#icon_info-2_1{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-2_2{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-2_3{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-2_4{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-2_5{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
// Стили для 3й СЗИ
#icon_info-3_1{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-3_2{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-3_3{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-3_4{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-3_5{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
// Стили для 4й СЗИ
#icon_info-4_1{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-4_2{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-4_3{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-4_4{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
#icon_info-4_5{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}