*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url("https://krot.info/uploads/posts/2020-01/thumbs/1579377484_6-13.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    }

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 40px 112px 40px;
    margin-top: 120px;

    background-color: #7ED1E3;
    border-radius: 10px;
    max-width: 906px;
    max-height: 400px;
}

.title{
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 115px;
}

.choose{
    display: flex;
    justify-content: space-between;
}

.choose a{
    color: #000;
    text-decoration: none;
    padding: 24px 16px;
    background-color: #3A9BF9;
    border-radius: 10px;
    font-size: 36px;
}