input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}

.filters-price__inputs{
    display: flex;
    justify-content: space-between;
}
.filters-price__label{
display: flex;
align-items:center;
width: 133px;
height: 40px;
border: 1px solid #d9d9d9;
border-radius: 4px;
padding: 0 10px;
justify-content: center;
}
.filters-price__input{
    border: none;
    padding: 0 10px;
    font-size: 14px;
    color: #4d4d4d;
}
.filters-price__text{
  font-size: 14px;
  color: #808080; 
}
.filters-price__slider{
    margin-top: 15px;
    margin-bottom: 20px;
}
.filters-price__title{
    margin-bottom: 20px;
}
div .noUi-connect{
    background-color: #5d71dd;
}
div .noUi-target{
    background-color: rgb(188, 188, 188);
    border: none;
    border-radius: 100px;
    box-shadow: none;
    height: 15px;
}
div .noUi-handle::after,
div .noUi-handle::before{
    display: none;
}
div .noUi-handle{
    box-shadow: none;
    border-radius: 100%;
    background-color: #fff;
    border: 3px #5d71dd solid;
}
div .noUi-horizontal .noUi-handle{
        width: 27px;
        height: 27px;
}