<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/page2.css') }} ">
    <title>Оценка защищенности СЭД</title>
</head>
<body>
    
    <div class="container">
        <div class="title">Выберете тип сборки КСЗ</div>
        <div class="choose">
            <a href="/ready">Готовая</a>
            <a href="/">Самостоятельная</a>
        </div>
    </div>

</body>
</html>