<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="etc\css\page1.css">
    <title>Оценка защищенности СЭД</title>
</head>
<body>
    
        <div class="firstpage">
            <div class="choose">
                <form id="main-form">
                    <label for="surname">Фамилия:</label>
                    <input type="text" name="contact_surname" id="surname"> <br> <br>

                    <label for="name" id="name">Имя:</label>
                    <input type="text" name="contact_name" id="contact_name"> <br> <br>

                    <label for="fathername">Отчество:</label>
                    <input type="text" name="contact_fathername" id="fathername"> <br> <br>
            
                    <div id="error" style="color: red;"></div>

                    <input type="submit" name="submit" value="Оценить надежность СЭД" id="button">
               
                </form>
            </div>
        </div>
        
        <script src="etc\js\page1.js"></script>
</body>
</html>