<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/nouislider.min.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/page3.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/range-slider.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/page3_1.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/ready.css') }} ">
    <title>Оценка защищенности СЭД</title>
</head>
<body onload="icon_on()">
    <!-- Форма считает, однако мат модель стоит изменить -->
<form name="form1"  action="/estimate" method="POST" id="block-1">

        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Выберете подходящий КСЗ</legend>
            <div class="row">
            <!-- СЗИ_1 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input" name="SZI1" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_auntification" id="icon_info"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_1.png') }} " alt="auntification">
                        </span>
                        <span class="checkbox-label" >Гардалиан</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_2 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-1" name="SZI2" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_authorED" id="icon_info-1"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_2.png') }}" alt="doc_accept">
                        </span>
                        <span class="checkbox-label">ТитанШилд</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_3 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-2" name="SZI3" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_confidition" id="icon_info-2"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_3.png') }}" alt="doc_accept">
                        </span>
                        <span class="checkbox-label">СейфГард</span>
                    </span>
                </label>
            </div>

            <!-- СЗИ_4 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-3" name="SZI4" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_uridictia" id="icon_info-3"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon" >
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_4.png') }}" alt="ur_znach">
                        </span>
                        <span class="checkbox-label">ПротекТек</span>
                    </span>
                </label>
            </div>
            </div> <br>
            <div class="row">
            <!-- СЗИ_5 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-4" name="SZI5" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_integrity_control" id="icon_info-4"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_5.png') }}" alt="Control_PO">
                        </span>
                        <span class="checkbox-label">ФортиФенс</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_6 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-5" name="SZI6" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_registration_actions" id="icon_info-5"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_6.png') }}" alt="register_actions">
                        </span>
                        <span class="checkbox-label">ВирусСтоп</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_7 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-6" name="SZI7" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_cryptography" id="icon_info-6"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_7.png') }}" alt="crypto_defense">
                        </span>
                        <span class="checkbox-label">ГлобалЩит</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_8 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-7" name="SZI8" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_firewall" id="icon_info-7"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_8.png') }}" alt="mezhset">
                        </span>
                        <span class="checkbox-label">АрморПротект</span>
                    </span>
                </label>
            </div>
            </div> 

            <div class="row">
            <!-- СЗИ_9 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-8" name="SZI9" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_vpn" id="icon_info-8"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_9.png') }}" alt="VPN">
                        </span>
                        <span class="checkbox-label">ШифрЗона</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_10 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-9" name="SZI10" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_antivirus" id="icon_info-9"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_10.png') }}" alt="antivirus">
                        </span>
                        <span class="checkbox-label">БезопасНет</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_11 -->
            <div class="checkbox">
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="checkbox" class="checkbox-input" id="checkbox-input-10" name="SZI11" />
                    <span class="checkbox-tile">
                        <a href="#popup_info_audit" id="icon_info-10"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_11.png') }}" alt="antauditivirus">
                        </span>
                        <span class="checkbox-label">СтражЭффект</span>
                    </span>
                </label>
            </div>
            </div>
        </fieldset>

            <div class="col-6">
                <nav>
                    <ul class="navigation">

                        <li class="navigation-item">
                            <a class="navigation-link" href="page2.html" style="margin-top: 0;"> Назад </a>
                        </li>

                        <li class="navigation-item1">
                            <button type="submit" id="countChecked" class="navigation-link1"> Оценить </button> <br>
                        </li>
                        
                        <li class="navigation-item2">
                            <a class="navigation-link1" href="#dop_info"> Дополнительная информация </a> <br>
                        </li>

                    </ul>
                </nav>
            </div>
   

<!-- ==================================================ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ========================================================== -->
<div id="dop_info" class="popup">
        <div class="popup__body">
            <div class="popup__content">
            
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Дополнительная информация</div>
                <div class="popup__text">
                    <div class="priority_title">Приоритет</div>
                    <!--  -->
                    <div class="choose_priority">

                        <div class="checkbox">
                            <label class="checkbox-wrapper"  onclick="icon_on()">
                                <input type="radio" class="checkbox-input" id="checkbox-input-9" name="priority" value="secure" />
                                <span class="checkbox-tile">
                                    <span class="checkbox-label">Надежность</span>
                                </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox-wrapper"  onclick="icon_on()">
                                <input type="radio" class="checkbox-input" id="checkbox-input-9" name="priority" value="price" />
                                <span class="checkbox-tile">
                                    <span class="checkbox-label">Цена</span>
                                </span>
                            </label>
                        </div>

                    </div>
                    <!-- Ползунок цены -->
                    <div class="filters">
                        <div class="filters__item filters-price">
                            <h3 class="filters-price__title">Цена</h3>
                            <div class="filter-price__slider"></div>
                            <div class="filter_price__inputs">
                                <input type="number" class="filters-price__input">
                                <input type="number" class="filters-price__input">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            
            </div>
        </div>
</div>
        

<!-- ==================================================ВЫБОР МОДЕЛИ СЗИ АУНТИФИКАЦИИ================================================== -->
<form name="podform" action="/" method="post">
    <!-- СЗИ_1 -->
    <div id="popup_info_auntification" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Выберете модель СЗИ</div>
                <div class="popup__text">

                    <div class="row">
                            <!-- модель 1 -->
                            <div class="checkbox">
                                <label class="checkbox-wrapper"  onclick="icon_on()">
                                    <input type="radio" name="model" value="ПАК «Соболь»" class="checkbox-input" id="checkbox-input1_1" {% if 'ПАК «Соболь»' in models %}checked{% endif %}/>
                                    <span class="checkbox-tile">
                                        <a href="/htdocs/Sobol.html" id="icon_info-1_1"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                                        <span class="checkbox-icon">
                                            <img src="{{ url_for('static', filename='../static/etc/img/model_icon/Sobol.png') }} " alt="ПАК «Соболь»">
                                        </span>
                                        <span class="checkbox-label">ПАК «Соболь»</span>
                                    </span>
                                </label>
                            </div>
                            <!-- !!!!!!!!!!!!!!!!!!!!!! -->
                            
                            <!-- модель 2 -->
                            <div class="checkbox">
                                <label class="checkbox-wrapper"  onclick="icon_on()">
                                    <input type="radio" name="model" value="ПАК «Росомаха»" class="checkbox-input" id="checkbox-input1_2" {% if 'ПАК «Росомаха»' in models %}checked{% endif %}/>
                                    <span class="checkbox-tile">
                                        <a href="/htdocs/Rosomaha.html" id="icon_info-1_2"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                                        <span class="checkbox-icon">
                                            <img src="{{ url_for('static', filename='../static/etc/img/model_icon/Rosomaha.jpg') }}" alt="ПАК «Росомаха»">
                                        </span>
                                        <span class="checkbox-label">ПАК «Росомаха»</span>
                                    </span>
                                </label>
                            </div>
                            <!-- !!!!!!!!!!!!!!!!!!!!!! -->
                            
                            <!-- модель 3 -->
                            <div class="checkbox">
                                <label class="checkbox-wrapper"  onclick="icon_on()">
                                    <input type="radio" name="model" value="СЗИ от НСД Фантом" class="checkbox-input" id="checkbox-input1_3" {% if 'СЗИ от НСД Фантом' in models %}checked{% endif %}/>
                                    <span class="checkbox-tile">
                                        <a href="/htdocs/Fantom.html" id="icon_info-1_3"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                                        <span class="checkbox-icon">
                                            <img src="{{ url_for('static', filename='../static/etc/img/model_icon/Fantom.png') }}" alt="СЗИ от НСД Фантом">
                                        </span>
                                        <span class="checkbox-label">СЗИ от НСД Фантом</span>
                                    </span>
                                </label>
                            </div>
                            <!-- !!!!!!!!!!!!!!!!!!!!!! --> 
                    </div>
                
                    <div class="row">

                        <!-- Прописать Высвечивание иконки... -->


                        <!-- модель 4 -->
                        <div class="checkbox">
                            <label class="checkbox-wrapper"  onclick="icon_on()">
                                <input type="radio" name="model" value="ПАК «Аккорд-В.»" class="checkbox-input" id="checkbox-input1_4" {% if 'ПАК «Аккорд-В.»' in models %}checked{% endif %}/>
                                <span class="checkbox-tile">
                                    <a href="/htdocs/Accord.html" id="icon_info-1_4"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                                    <span class="checkbox-icon">
                                        <img src="{{ url_for('static', filename='../static/etc/img/model_icon/Accord.jpg') }}" alt="ПАК «Аккорд-В.»">
                                    </span>
                                    <span class="checkbox-label">ПАК «Аккорд-В.»</span>
                                </span>
                            </label>
                        </div>
                        <!-- !!!!!!!!!!!!!!!!!!!!!! -->

                        <!-- модель 5 -->
                        <div class="checkbox">
                            <label class="checkbox-wrapper"  onclick="icon_on()">
                                <input type="radio" name="model" value="Блокхост-Сеть" class="checkbox-input" id="checkbox-input1_5" {% if 'Блокхост-Сеть' in models %}checked{% endif %}/>
                                <span class="checkbox-tile">
                                    <a href="/htdocs/BlockHost.html" id="icon_info-1_5"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                                    <span class="checkbox-icon">
                                        <img src="{{ url_for('static', filename='../static/etc/img/model_icon/BlockHost.webp') }}" alt="Блокхост-Сеть">
                                    </span>
                                    <span class="checkbox-label">Блокхост-Сеть</span>
                                </span>
                            </label>
                        </div>
                        <!-- !!!!!!!!!!!!!!!!!!!!!! -->
                                <button type="submit" id="clear" class="add__requirement" onclick="showSpinner();" target="_blank"> <b> Подтвердить </b></button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>


</form>
<!-- ==================================================================================================== -->

<!-- КОНЕЦ -->
<script src="{{ url_for('static', filename='../static/etc/libs/nouislider.min.js') }} "></script>
<script src="{{ url_for('static', filename='../static/etc/js/range-slider.js') }} "></script>
<script src="{{ url_for('static', filename='../static/etc/js/page3.js') }} "></script>
<script src="{{ url_for('static', filename='../static/etc/js/processing_dop_form.js') }} "></script>
</body>
</html>