<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/nouislider.min.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/page3.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/range-slider.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/page3_1.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/etc/css/ready.css') }} ">
    <title>Оценка защищенности СЭД</title>
</head>
<body>
    <!-- Форма считает, однако мат модель стоит изменить -->
<form name="ready_ksz"  action="" method="POST" id="block-1">

        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Выберете подходящий КСЗ</legend>
            <div class="row">
            <!-- СЗИ_1 -->
            <div class="checkbox" {% if (cash - 500000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="Гардалиан" class="checkbox-input" id="checkbox-input" name="KSZ1"  {% if ksz_model=='Гардалиан' %}checked{% endif %}/>
                    <span class="checkbox-tile">
                        <a href="#description_ksz_1" id="icon_info"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_1.png') }} " alt="auntification">
                        </span>
                        <span class="checkbox-label" >Гардалиан</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_2 -->
            <div class="checkbox" {% if (cash - 50000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="ТитанШилд" class="checkbox-input" id="checkbox-input-1" name="KSZ2" {% if ksz_model=='ТитанШилд' %}checked{% endif %}/>
                    <span class="checkbox-tile">
                        <a href="#description_ksz_2" id="icon_info-1"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_2.png') }}" alt="doc_accept">
                        </span>
                        <span class="checkbox-label">ТитанШилд</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_3 -->
            <div class="checkbox" {% if (cash - 100000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="СейфГард" class="checkbox-input" id="checkbox-input-2" name="SZI3" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_3" id="icon_info-2"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_3.png') }}" alt="doc_accept">
                        </span>
                        <span class="checkbox-label">СейфГард</span>
                    </span>
                </label>
            </div> 

            <!-- СЗИ_4 -->
            <div class="checkbox" {% if (cash - 250000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="ПротекТек" class="checkbox-input" id="checkbox-input-3" name="SZI4" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_4" id="icon_info-3"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon" >
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_4.png') }}" alt="ur_znach">
                        </span>
                        <span class="checkbox-label">ПротекТек</span>
                    </span>
                </label>
            </div>
            </div> <br>
            <div class="row">
            <!-- СЗИ_5 -->
            <div class="checkbox" {% if (cash - 600000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="ФортиФенс" class="checkbox-input" id="checkbox-input-4" name="SZI5" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_5" id="icon_info-4"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_5.png') }}" alt="Control_PO">
                        </span>
                        <span class="checkbox-label">ФортиФенс</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_6 -->
            <div class="checkbox" {% if (cash - 750000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="ВирусСтоп" class="checkbox-input" id="checkbox-input-5" name="SZI6" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_6" id="icon_info-5"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_6.png') }}" alt="register_actions">
                        </span>
                        <span class="checkbox-label">ВирусСтоп</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_7 -->
            <div class="checkbox" {% if (cash - 850000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="ГлобалЩит" class="checkbox-input" id="checkbox-input-6" name="SZI7" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_7" id="icon_info-6"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_7.png') }}" alt="crypto_defense">
                        </span>
                        <span class="checkbox-label">ГлобалЩит</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_8 -->
            <div class="checkbox" {% if (cash - 900000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="АрморПротект" class="checkbox-input" id="checkbox-input-7" name="SZI8" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_8" id="icon_info-7"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_8.png') }}" alt="mezhset">
                        </span>
                        <span class="checkbox-label">АрморПротект</span>
                    </span>
                </label>
            </div>
            </div> 

            <div class="row">
            <!-- СЗИ_9 -->
            <div class="checkbox" {% if (cash - 150000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="ШифрЗона" class="checkbox-input" id="checkbox-input-8" name="SZI9" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_9" id="icon_info-8"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_9.png') }}" alt="VPN">
                        </span>
                        <span class="checkbox-label">ШифрЗона</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_10 -->
            <div class="checkbox" {% if (cash - 30000) ** 2 > 50000 ** 2 and check_cash %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="БезопасНет" class="checkbox-input" id="checkbox-input-9" name="SZI10" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_10" id="icon_info-9"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_10.png') }}" alt="antivirus">
                        </span>
                        <span class="checkbox-label">БезопасНет</span>
                    </span>
                </label>
            </div>
            <!-- СЗИ_11 -->
            <div class="checkbox" {% if (cash - 980000) ** 2 > 50000 ** 2 and check_cash  %} style="display: none;" {% endif %}>
                <label class="checkbox-wrapper"  onclick="icon_on()">
                    <input type="radio" name="ksz_models" value="СтражЭффект" class="checkbox-input" id="checkbox-input-10" name="SZI11" />
                    <span class="checkbox-tile">
                        <a href="#description_ksz_11" id="icon_info-10"><img src="{{ url_for('static', filename='../static/etc/img/icon_info.png') }}" alt="info"></a>
                        <span class="checkbox-icon">
                            <img src="{{ url_for('static', filename='../static/etc/img/icon_ksz/ksz_11.png') }}" alt="antauditivirus">
                        </span>
                        <span class="checkbox-label">СтражЭффект</span>
                    </span>
                </label>
            </div>

            </div>
        </fieldset>

            <div class="col-6">
                <nav>
                    <ul class="navigation">

                        <li class="navigation-item">
                            <a class="navigation-link" href="page2.html" style="margin-top: 0;"> Назад </a>
                        </li>

                        <li class="navigation-item1">
                            <button type="submit" id="countChecked" class="navigation-link1"> Оценить </button> <br>
                        </li>
                        
                        <li class="navigation-item2">
                            <a class="navigation-link1" href="#dop_info"> Дополнительная информация </a> <br>
                        </li>

                    </ul>
                </nav>
            </div>
   

<!-- ==================================================ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ========================================================== -->
<form name="filter" action="/ready " method="post">
    <div id="dop_info" class="popup">
        
            <div class="popup__body">
                <div class="popup__content">
                
                    <a href="#" class="popup__close">X</a>
                    <div class="popup__title">Дополнительная информация</div>
                    <div class="popup__text">
                            <div class="priority_title">Приоритет вычислений</div>
                            <!--  -->
                            <div class="choose_priority">

                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="radio" class="checkbox-input" id="checkbox-input-9" name="priority" value="secure" {% if priority == 'secure' %}checked{% endif %}/>
                                        <span class="checkbox-tile">
                                            <span class="checkbox-label">Надежность</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-wrapperdd">
                                        <input type="radio" class="checkbox-input" id="checkbox-input-9" name="priority" value="price" {% if priority == 'price' %}checked{% endif %}/>
                                        <span class="checkbox-tile">
                                            <span class="checkbox-label">Цена</span>
                                        </span>
                                    </label>
                                </div>

                            </div>

                            <br>
                            <!-- Ползунок цены -->
                            <div class="filters">
                                    <h3 class="filters-price__title">Ориентировочная цена</h3>
                                    <input type="range" name="price" id="price" min="0" max="1000000" value="{{ cash }}" step="10000" onchange="document.getElementById('rangeValue').innerHTML = this.value;" list="rangeList"> <span id="rangeValue">{{ cash }}</span> ₽</p>
                                    <datalist id="rangeList">
                                        <option value="0" label="0">
                                        <option value="10000" label="10000">
                                        <option value="50000" label="50000">
                                        <option value="100000" label="100000">
                                        <option value="250000" label="250000">
                                        <option value="500000" label="500000">
                                        <option value="1000000" label="1000000">
                                    </datalist>
                            </div>
                            <!--  -->


                            <!-- Расчет -->
                            <button type="submit" onclick="window.location.hash = '#'"> Выбрать </button>
                            <button type="submit" name="reset_data" value="reset_data"> Сбросить </button>

                    </div>
                
                </div>
            </div>
        
    </div>    
</form> 
<!-- ==================================================ВЫБОР МОДЕЛИ СЗИ АУНТИФИКАЦИИ================================================== -->
<form name="description" action="/ready" method="get">
    <!-- СЗИ_1 -->
    <div id="description_ksz_1" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    Крутое КСЗ_1 <br>
                    Цена: 1.170 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>NordVPN</li>
                        <li>Dr.Web</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_2 -->
    <div id="description_ksz_2" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    Крутое КСЗ_2 <br>
                    Цена: 5.450 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>Kaspersky Anti-Virus</li>
                        <li>Surfshark VPN</li>
                        <li>КриптоАРМ 2.0</li>
                        <li>Adobe Sign</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_3 -->
    <div id="description_ksz_3" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    Крутое КСЗ_3 <br>
                    Цена: 11.550 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>Secret Net Studio</li>
                        <li>Secret Disk Enterprise</li>
                        <li>ЭЦП-Техно</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_4 -->
    <div id="description_ksz_4" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    Крутое КСЗ_4 <br>
                    Цена: 18.930 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>КриптоАРМ</li>
                        <li>Secret Disk 5</li>
                        <li>СЗИ от НСД Фантом</li>
                        <li>ЭЦП-Техно</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_5 -->
    <div id="description_ksz_5" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    Крутое КСЗ_5 <br>
                    Цена: 49.263 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>ViPNet SafeBoot</li>
                        <li>LogRhythm SIEM</li>
                        <li>КриптоАРМ 2.0</li>
                        <li>Континент АП</li>
                        <li>Kaspersky Internet Security</li>
                        <li>Kaspersky Anti-Virus</li>
                        <li>Secret Disk 5</li>
                        <li>КриптоГОСТ</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_6 -->
    <div id="description_ksz_6" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    <h3>ВирусСтоп</h3>
                    <p>Комплекс средств защиты "ВирусСтоп" обеспечивает гарантированную защиту против вирусных атак</p>
                    Цена: 76.590 Рублей <br>
                    Обеспечение надежности: 1000000% <br>
                    СЗИ: <br>
                    <ul>
                        <li><b>ViPNet SafeBoot </b> - для предотвращения вирусных атак</li>
                        <li><b>Fortinet FortiSIEM </b>-  для мониторинга событий информационной системы</li>
                        <li><b>Secret Disk Enterprise </b>- для  обеспечения конфидициальности электронного документа</li>
                        <li><b>Traffic Inspector Next Generation </b>- для функционирования межсетевого экранирования</li>
                        <li>Dr.Web</li>
                        <li>СЗИ от НСД Фантом</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_7 -->
    <div id="description_ksz_7" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    Крутое КСЗ_7 <br>
                    Цена: 90.759 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>КриптоПро PDF</li>
                        <li>КриптоГОСТ</li>
                        <li>Secret Disk 5</li>
                        <li>Блокхост-Сеть</li>
                        <li>Fortinet FortiSIEM</li>
                        <li>Secret Disk Enterprise</li>
                        <li>TrustAccess</li>
                        <li>Kaspersky Internet Security</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_8 -->
    <div id="description_ksz_8" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    Крутое КСЗ_8 <br>
                    Цена: 126.314 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>SignPro</li>
                        <li>Secret Disk 5</li>
                        <li>ПАК «Аккорд-В.»</li>
                        <li>КриптоАРМ</li>
                        <li>ViPNet SafeBoot</li>
                        <li>Fortinet FortiSIEM</li>
                        <li>Secret Disk Enterprise</li>
                        <li>TrustAccess</li>
                        <li>Kaspersky Anti-Virus</li>
                        <li>TrustAccess</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_9 -->
    <div id="description_ksz_9" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    <h3>ШифрЗона</h3>
                    <p>Комплекс средств защиты "ШифрЗона" ориентирован на поддержание криптографической защиты на заданном уровне </p>
                    Цена: 204.920 Рублей <br>
                    Обеспечение надежности: 1000000% <br>
                    СЗИ: <br>
                    <ul>
                        <li>SignPro</li>
                        <li>EDSIGN</li>
                        <li>Secret Disk 5</li>
                        <li>Блокхост-Сеть</li>
                        <li>ViPNet SafeBoot</li>
                        <li>Fortinet FortiSIEM</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

    <!-- СЗИ_10 -->
    <div id="description_ksz_10" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                <div class="popup__title">Описание</div>
                <div class="popup__text">
                    <p>Комплекс средств защиты "Гардалиан" обеспечивает наилучшую надежность в показателе цена-надежность. </p>
                    Цена: 586.980 Рублей <br>
                    СЗИ: <br>
                    <ul>
                        <li>ПАК «Соболь»</li>
                        <li>Secret Disk 5</li>
                        <li>«КАРМА»</li>
                        <li>SignPro</li>
                        <li>ПМ «Паспорт ПО»</li>
                        <li>MaxPatrol SIEM</li>
                        <li>Палиндром</li>
                        <li>ALTELL NEO</li>
                        <li>Kaspersky Internet Security</li>
                        <li>Norton 360</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- !!! -->

</form>


</form>
<!-- ==================================================================================================== -->

<!-- КОНЕЦ -->
<script src="{{ url_for('static', filename='../static/etc/libs/nouislider.min.js') }} "></script>
<script src="{{ url_for('static', filename='../static/etc/js/range-slider.js') }} "></script>
<script src="{{ url_for('static', filename='../static/etc/js/page3.js') }} "></script>
<script src="{{ url_for('static', filename='../static/etc/js/processing_dop_form.js') }} "></script>
</body>
</html>